<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galaxy of Art - Production View</title>
    <link rel="icon" href="pictures/bgnd/Art Gallery.jpg">

    <!-- link bootstrap css file -->
    <link rel="stylesheet" href="bootstrap-5.2.3/css/bootstrap.min.css">

    <!-- link fontawesome css file -->
    <link rel="stylesheet" href="fontawesome-free-7.2.0/fontawesome-free-7.2.0-web/css/all.min.css">

    <!-- link commen css file -->
    <link rel="stylesheet" href="comman.css">
</head>

<body>
    <!-- top nav bar -->
    <nav th:replace="topnavbar :: topNavbarFragment"></nav>

    <div class="container-fluid">

        <!-- title area -->
        <div class="row m-3 p-2 div-title">
            <div class="col text-center">
                <h1>Production Job Tracking</h1>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <div class="card div-table">
                    <div class="card-body table-responsive">
                        <table class="table table-hover table-striped table-bordered" id="tableProductionView">

                            <thead class="table-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Job ID</th>
                                    <th>Customer</th>
                                    <th>Mug Product</th>
                                    <th>Ordered Date</th>
                                    <th>Delivery Date</th>
                                    <th>Total(Rs.)</th>
                                    <th>Balance(Rs.)</th>
                                    <th>Status</th>
                                </tr>
                            </thead>

                            <tbody id="tableBodyProductionView">

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- link sweet alert  -->
    <script src="sweetalert.min.js"></script>

    <!-- link js file -->
    <script src="bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>

    <!-- link jquary file -->
    <script src="js/jquery-4.0.0..min.js"></script>

    <!-- link common js file -->
    <script src="js/comman.js"></script>

    <!-- link production view js -->
    <script src="js/11.productionview.js"></script>

</body>

</html>
