<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galaxy of Art - Supplier Price Request </title>
    <link rel="icon" href="pictures/bgnd/Art Gallery.jpg">

    <!-- link bootstrap css file -->
    <link rel="stylesheet" href="bootstrap-5.2.3/css/bootstrap.min.css">

    <!-- link fontawesome css file -->
    <link rel="stylesheet" href="fontawesome-free-7.2.0/fontawesome-free-7.2.0-web/css/all.min.css">

    <!-- link commen css file -->
    <link rel="stylesheet" href="comman.css">

</head>




<body>
    <!-- top nav bar -->
    <nav th:replace="topnavbar :: topNavbarFragment"></nav>

    <div class="container-fluid">

        <!-- title area -->
        <div class="row m-3 p-2  div-title">
            <div class="col text-center">
                <h1>Supplier Price Request</h1>
            </div>
        </div>

        <!-- tab lesa -->
        <div class="row mt-2 ">
            <div class="col">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="form-tab" data-bs-toggle="tab"
                            data-bs-target="#form-tab-pane" type="button" role="tab" aria-controls="form-tab-pane"
                            aria-selected="true"> <B> Request Form </B></button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="table-tab" data-bs-toggle="tab" data-bs-target="#table-tab-pane"
                            type="button" role="tab" aria-controls="table-tab-pane" aria-selected="false"> <b>
                                Request Table </b></button>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="form-tab-pane" role="tabpanel" aria-labelledby="form-tab"
                        tabindex="0">

                        <div class="card div-form">
                            <div class="card-body ">

                                <form id="formSupplierpr" onsubmit="return false">

                                    <!-- required penweemata -->
                                    <div class="row mt-1">
                                        <div class="col text-end">
                                            <p>Required <span class="text-danger">*</span></p>
                                        </div>
                                    </div>

                                    <!-- supplier, product -->
                                    <div class="row mt-1">

                                        <div class="col">
                                            <label for="selectSupplier" class="form-label fw-bold">Supplier :
                                                <span class="text-danger">*</span></label>
                                            <select id="selectSupplier" class="form-select">
                                                <option value="" selected disabled>Select Supplier</option>
                                            </select>
                                        </div>

                                        <div class="col">
                                            <label for="selectProduct" class="form-label fw-bold">Product :
                                                <span class="text-danger">*</span></label>
                                            <select id="selectProduct" class="form-select">
                                                <option value="" selected disabled>Select Product</option>
                                            </select>
                                        </div>

                                    </div>

                                    <!-- prices,quantity-->
                                    <div class="row mt-1">

                                        <div class="col">
                                            <label for="textPrice" class="form-label fw-bold">
                                                Item Price(Rs.) :
                                                <span class="text-danger">*</span></label>
                                            <input type="number" min="0" required placeholder="Enter Price"
                                                id="textPrice" class="form-control">
                                        </div>

                                        <div class="col">
                                            <label for="textQuantity" class="form-label fw-bold">
                                                Item Quantity :
                                                <span class="text-danger">*</span></label>
                                            <input type="number" min="0" required placeholder="Enter Quantity"
                                                id="textQuantity" class="form-control">
                                        </div>

                                    </div>

                                    <!-- reqst dte,rqst status-->
                                    <div class="row mt-1">

                                        <div class="col">
                                            <label for="dateRequestDate"
                                                class="form-label fw-bold">Request Date :
                                                <span class="text-danger">*</span></label>
                                            <input type="date" required placeholder="Enter Request Date"
                                                id="dateRequestDate" class="form-control">
                                        </div>

                                        <div class="col">
                                            <label for="selectStatus" class="form-label fw-bold">
                                                Request Status :
                                                <span class="text-danger">*</span></label>
                                            <select id="selectStatus" class="form-select">
                                                <option value="" selected disabled>Select Status</option>
                                                <option value="Pending">Pending</option>
                                                <option value="Responded">Responded</option>
                                                <option value="Rejected">Rejected</option>
                                            </select>
                                        </div>

                                    </div>

                                    <br>
                                    <!-- buttons -->
                                    <div class="row mt-1">
                                        <div class="col-4">
                                            <button class="btn clear " id="buttonClear" type="reset">
                                                Clear</button>
                                        </div>

                                        <div class="col-8 text-end">
                                            <button class="btn update" id="buttonUpdate" onclick="updatePriceRequest()" type="submit">
                                                Update</button>
                                            <button class="btn submit" id="buttonSubmit" onclick="submitPriceRequestForm()" type="submit">
                                                Submit</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="table-tab-pane" role="tabpanel" aria-labelledby="table-tab" tabindex="0">

                    <!-- table -->
                    <div class="card div-table">
                        <div class="card-body table-responsive">
                            <table class=" table table-hover table-striped table-bordered" id="tablePriceRequest">

                                <thead class="table-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>Request ID</th>
                                        <th>Supplier</th>
                                        <th>Product</th>
                                        <th>Price(Rs.)</th>
                                        <th>Quantity</th>
                                        <th>Request Date</th>
                                        <th>Status</th>
                                        <th>Modify/Action</th>
                                    </tr>
                                </thead>

                                <tbody id="tableBodyPriceRequest">

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- link sweet alert  -->
    <script src="sweetalert.min.js"></script>

    <!-- link js file -->
    <script src="bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>

    <!-- link jquary file -->
    <script src="js/jquery-4.0.0..min.js"></script>

    <!-- link common js file -->
    <script src="js/comman.js"></script>

    <!-- link supplier PR js -->
    <script src="js/3.s.pricereqest.js"></script>

</body>

</html>
