<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galaxy of Art - Product Inventory </title>
    <link rel="icon" href="pictures/bgnd/Art Gallery.jpg">

    <!-- link bootstrap css file -->
    <link rel="stylesheet" href="bootstrap-5.2.3/css/bootstrap.min.css">

    <!-- link fontawesome css file -->
    <link rel="stylesheet" href="fontawesome-free-7.2.0/fontawesome-free-7.2.0-web/css/all.min.css">

    <!-- link commen css file -->
    <link rel="stylesheet" href="comman.css">


</head>




<body>
    <!-- top nav bar -->
    <nav th:replace="topnavbar :: topNavbarFragment"></nav>

    <div class="container-fluid">

        <!-- title area -->
        <div class="row m-3 p-2  div-title">
            <div class="col text-center">
                <h1> Product Inventory</h1>
            </div>
        </div>

        <!-- tab lesa -->
        <div class="row mt-2 ">
            <div class="col">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="form-tab" data-bs-toggle="tab"
                            data-bs-target="#form-tab-pane" type="button" role="tab" aria-controls="form-tab-pane"
                            aria-selected="true"> <B> Inventory Form </B></button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="table-tab" data-bs-toggle="tab" data-bs-target="#table-tab-pane"
                            type="button" role="tab" aria-controls="table-tab-pane" aria-selected="false"> <b>
                                Inventory Table </b></button>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="form-tab-pane" role="tabpanel" aria-labelledby="form-tab"
                        tabindex="0">

                        <!-- form -->
                        <div class="card div-form" >
                            <div class="card-body ">

                                <form id="formInventory" onsubmit="return false">

                                    <!-- required penweemata -->
                                    <div class="row mt-1">
                                        <div class="col text-end">
                                            <p>Required <span class="text-danger">*</span></p>
                                        </div>
                                    </div>

                                    <!-- product -->
                                    <div class="row mt-1">

                                        <div class="col">
                                            <label for="selectProduct" class="form-label fw-bold">
                                                Product :
                                                <span class="text-danger">*</span></label>
                                            <select id="selectProduct" class="form-select">
                                                <option value="" selected disabled>Select Product</option>
                                            </select>
                                        </div>

                                    </div>

                                    <!-- quantity -->
                                    <div class="row mt-1">

                                        <div class="col">
                                            <label for="textTotalquantity" class="form-label fw-bold"> Total Quantity :
                                                <span class="text-danger">*</span></label>
                                            <input type="text" required placeholder="Enter Total Quantity"
                                                id="textTotalquantity" class="form-control">
                                        </div>

                                        <div class="col">
                                            <label for="textDamagedquantity" class="form-label fw-bold"> Damaged
                                                Quantity : <span class="text-danger">*</span></label>
                                            <input type="text" required placeholder="Enter Damaged Quantity"
                                                id="textDamagedquantity" class="form-control">
                                        </div>

                                        <div class="col">
                                            <label for="textAvailablequantity" class="form-label fw-bold"> Available
                                                Quantity : <span class="text-danger">*</span></label>
                                            <input type="text" required placeholder="Enter Available Quantity"
                                                id="textAvailablequantity" class="form-control">
                                        </div>

                                    </div>

                                    <!--rop,roq,status-->
                                    <div class="row mt-1">


                                        <div class="col">
                                            <label for="textRop" class="form-label fw-bold"> ROP :
                                                <span class="text-danger">*</span></label>
                                            <input type="text" required placeholder="Enter ROP" id="textRop"
                                                class="form-control">
                                        </div>


                                        <div class="col">
                                            <label for="textRoq" class="form-label fw-bold"> ROQ :
                                                <span class="text-danger">*</span></label>
                                            <input type="text" required placeholder="Enter ROQ" id="textRoq"
                                                class="form-control">
                                        </div>


                                    </div>

                                    <br>
                                    <!-- buttons -->
                                    <div class="row mt-1">
                                        <div class="col-4">
                                            <button class="btn clear" id="buttonClear" type="reset">
                                                Clear</button>
                                        </div>

                                        <div class="col-8 text-end">
                                            <button class="btn update" id="buttonUpdate" onclick="updateInventory()" type="submit">
                                                Update</button>
                                            <button class="btn submit" onclick="submitInventory()" id="buttonSubmit" type="button">
                                                Submit</button>
                                        </div>
                                    </div>


                                </form>


                            </div>



                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="table-tab-pane" role="tabpanel" aria-labelledby="table-tab" tabindex="0">

                    <!-- table -->
                    <div class="card div-table">
                        <div class="card-body table-responsive">
                            <table class=" table table-hover table-striped table-bordered" id="tableEmployee">

                                <thead class="table-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>Product</th>
                                        <th>Item Code</th>
                                        <th>Total Quantity</th>
                                        <th>Damaged Quantity</th>
                                        <th>Available Quantity</th>
                                        <th> ROP</th>
                                        <th> ROQ</th>
                                        <th>Modify/Action</th>
                                    </tr>
                                </thead>

                                <tbody id="tableBodyInventory">
                                   
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- link sweet alert  -->
    <script src="sweetalert.min.js"></script>

    <!-- link js file -->
    <script src="bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>

    <!-- link jquary file -->
    <script src="js/jquery-4.0.0..min.js"></script>

    <!-- link common js file -->
    <script src="js/comman.js"></script>

    <!-- link invetory js -->
    <script src="js/5.inventory.js"></script>

</body>

</html>