<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galaxy of Art - Invoices </title>
    <link rel="icon" href="pictures/bgnd/Art Gallery.jpg">

    <!-- link bootstrap css file -->
    <link rel="stylesheet" href="bootstrap-5.2.3/css/bootstrap.min.css">

    <!-- link fontawesome css file -->
    <link rel="stylesheet" href="fontawesome-free-7.2.0/fontawesome-free-7.2.0-web/css/all.min.css">

    <!-- link commen css file -->
    <link rel="stylesheet" href="comman.css">
</head>




<body>
    <!-- top nav bar -->
    <nav th:replace="topnavbar :: topNavbarFragment"></nav>

    <div class="container-fluid">

        <!-- title area -->
        <div class="row m-3 p-2  div-title">
            <div class="col text-center">
                <h1>Invoices</h1>
            </div>
        </div>

        <!-- tab lesa -->
        <div class="row mt-2 ">
            <div class="col">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="form-tab" data-bs-toggle="tab"
                            data-bs-target="#form-tab-pane" type="button" role="tab" aria-controls="form-tab-pane"
                            aria-selected="true"> <B> Invoice Form </B></button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="table-tab" data-bs-toggle="tab" data-bs-target="#table-tab-pane"
                            type="button" role="tab" aria-controls="table-tab-pane" aria-selected="false"> <b> Invoice
                                Table </b></button>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="form-tab-pane" role="tabpanel" aria-labelledby="form-tab"
                        tabindex="0">

                        <div class="card div-form">
                            <div class="card-body ">

                                <form id="formInvoice" onsubmit="return false">

                                    <!-- required penweemata -->
                                    <div class="row mt-1">
                                        <div class="col text-end">
                                            <p>Required <span class="text-danger">*</span></p>
                                        </div>
                                    </div>

                                    <div class="row mt-1">

                                        <!-- customer -->
                                        <div class="col">
                                            <label for="selectCustomer" class="form-label fw-bold"> Customer :
                                                <span class="text-danger">*</span></label>
                                            <select id="selectCustomer" class="form-select">
                                                <option value="" selected disabled>Select Customer</option>
                                            </select>
                                        </div>

                                        <!-- invoice date -->
                                        <div class="col">
                                            <label for="dateInvoicedate" class=" form-label fw-bold ">
                                                Invoice Date : <span class="text-danger"> *</span>
                                            </label>
                                            <input type="date" required id="dateInvoicedate" class="form-control">
                                        </div>

                                    </div>


                                    <div class="row mt-1">

                                        <!-- items -->
                                        <div class="col">
                                            <label for="selectProduct" class="form-label fw-bold">
                                                Product :
                                                <span class="text-danger">*</span></label>
                                            <select id="selectProduct" onchange="onProductChange()" class="form-select">
                                                <option value="" selected disabled>Select Product</option>
                                            </select>
                                        </div>

                                        <!-- qty -->
                                        <div class="col">
                                            <label for="qty" class="form-label fw-bold"> Quantity :
                                                <span class="text-danger">*</span></label>
                                            <input type="number" required placeholder="Enter Quantity" id="qty" min="1"
                                                class="form-control" onchange="calculateTotal()">
                                        </div>

                                        <!-- unit prce -->
                                        <div class="col">
                                            <label for="unitPrice" class="form-label fw-bold"> Unit Price(Rs.) :
                                                <span class="text-danger">*</span></label>
                                            <input type="number" required placeholder="Enter Price" min="0"
                                                id="unitPrice" class="form-control" onchange="calculateTotal()">
                                        </div>

                                        <!-- dict -->
                                        <div class="col">
                                            <label for="discount" class="form-label fw-bold">Discount(%) :</label>
                                            <input type="number" placeholder="Enter Discount" min="0"
                                                id="discount" class="form-control" onchange="calculateTotal()">
                                        </div>

                                    </div>

                                    <div class="row mt-1">

                                        <!-- total -->
                                        <div class="col">
                                            <label for="total" class="form-label fw-bold"> Total Amount(Rs.) :</label>
                                            <input type="number" placeholder="Auto Calculated"
                                                id="total" readonly class="form-control">
                                        </div>

                                        <!-- pay amnt-->
                                        <div class="col">
                                            <label for="payAmount" class="form-label fw-bold"> Pay Amount(Rs.) :
                                                <span class="text-danger">*</span></label>
                                            <input type="number" required placeholder="Enter Pay Amount" min="0"
                                                id="payAmount" class="form-control" onchange="calculateTotal()">
                                        </div>

                                        <!-- blnce -->
                                        <div class="col">
                                            <label for="balanceAmount" class="form-label fw-bold"> Balance Amount(Rs.) :</label>
                                            <input type="number" placeholder="Auto Calculated"
                                                id="balanceAmount" readonly class="form-control">
                                        </div>

                                        <!-- payment method -->
                                        <div class="col">
                                            <label for="selectPaymethod" class="form-label fw-bold">Payment Method :
                                                <span class="text-danger">*</span></label>
                                            <select id="selectPaymethod" class="form-select">
                                                <option value="" selected disabled>Select Payment Method</option>
                                                <option value="Cash">Cash</option>
                                                <option value="Card">Card</option>
                                                <option value="Bank Transfer">Bank Transfer</option>
                                            </select>
                                        </div>

                                    </div>

                                    <br>
                                    <!-- buttons -->
                                    <div class="row mt-1">
                                        <div class="col-4">
                                            <button class="btn clear" id="buttonClear" type="reset">
                                                Clear</button>
                                        </div>

                                        <div class="col-8 text-end">
                                            <button class="btn update" onclick="updateInvoice()" id="buttonUpdate" type="button">
                                                Update</button>
                                            <button class="btn submit" onclick="submitInvoice()" id="buttonSubmit"
                                                type="button">
                                                Submit</button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="table-tab-pane" role="tabpanel" aria-labelledby="table-tab" tabindex="0">

                    <!-- table -->
                    <div class="card div-table">
                        <div class="card-body table-responsive">
                            <table class=" table table-hover table-striped table-bordered" id="tableInvoice">

                                <thead class="table-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>Invoice No</th>
                                        <th>Customer</th>
                                        <th>Product</th>
                                        <th> Total Amount(Rs.)</th>
                                        <th> Pay Amount(Rs.)</th>
                                        <th> Balance(Rs.)</th>
                                        <th>Payment Method</th>
                                        <th>Status</th>
                                        <th>Modify/Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tableBodyInvoice">

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- link sweet alert  -->
    <script src="sweetalert.min.js"></script>

    <!-- link js file -->
    <script src="bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>

    <!-- link jquary file -->
    <script src="js/jquery-4.0.0..min.js"></script>

    <!-- link common js file -->
    <script src="js/comman.js"></script>

    <!-- link invoice js -->
    <script src="js/9.invoice.js"></script>

</body>

</html>
